<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
</head>
<body>

<h1> this is home page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam animi aspernatur at cumque cupiditate deserunt
    doloribus earum eius et itaque, iusto magnam maxime nulla quidem quod ratione suscipit tempore velit vero. Aperiam,
    ea expedita inventore iure modi omnis vitae!</p>

<a href="about">about</a>
<a href="users">users</a>
</body>

</html>